body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header-bg {
    background-color: #264653;
    /* padding: 80px; */
}

.header-padding {
    padding-top: 100px;
}

.text-bg {
    color: #E0E0E0;
}

.btn-color {
    background: #E76F51;
    color: white;
}


.bikes {
    width: 100%;
}

.fa-star {
    color: #E77C40;
}

.link {
    text-decoration: none;
}

.clients {
    width: 100%;
}

.accordion-all {
    width: 100%;
}



@media only screen and (min-width:768px) {
    .header-img {
        width: 100%;
    }

    .accordion-modify {
        margin-left: 180px;
        margin-right: 180px;
    }

    .accordion-img {
        width: 72%;
    }
}

@media only screen and (max-width:767px) {
    .header-img {
        width: 80%;
        margin: auto;
        display: block;
    }

    .accordion-img {
        margin: auto;
        display: block;
        width: 350px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}